.Project {
    width: 450px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    margin-bottom: 40px;
}

.Project:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0,0,0, 0.3);
}

.Project img {
    height: 300px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Project h4 {
    color: black;
    font-size: 24px;
    margin: 25px auto auto 30px;
}

.Project h5 {
    color: #888888;
    font-size: 18px;
    font-weight: 500;
    margin: auto auto 30px 30px;
}

.Project p {
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin: auto 30px 40px 30px;
}
